<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/main.css" />
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
</head>
<body>

    <header>
        <div class="header">
            <div class="center-body flex">
                <div class="user-avatar hover-near-bottom">
                    <img src="/Assets/BitAssembly.png" title="Hello!" />
                </div>
                <h1 class="hover-near-bottom">
                    Bit Assembly
                </h1>
            </div>
        </div>
    </header>
    <section class="center-body">
        <ul>
            <li><a asp-controller="Default" asp-action="Index">Index</a></li>
            <li><a asp-controller="Default" asp-action="CV">CV</a></li>
            <li><a asp-controller="Default" asp-action="Contact">Contact</a></li>
            <li><a asp-controller="Default" asp-action="FeverCheck">Fever Check</a></li>
            <li><a asp-controller="Default" asp-action="GuessingGame">Guessing Game</a></li>
            <li><a asp-controller="People" asp-action="Index">People List</a></li>
        </ul>
    </section>
    <section class="center-body">
        @RenderBody()
    </section>
</body>
</html>

