
@{
    ViewData["Title"] = "CV";
}

<p>@ViewData["MyCookie"]</p>
<p>I am Palm, McPalm or Bit Assembly, based on context.
    I am a c# developer, game designer, general designer, pixel artist animator, and overall just a design entuiast.
    If you start a conversation with me about design, you can expect a passionate response.</p>
<p>I am present on various platforms, its mostly pony related.
    Because, well, human behaviour stats that if you can do anything, you will do something you already done.
    Ponies are my comfort zone, and I deviate out of that only when the constraits tell me not to.
    That is how creativity works. Its about trying old things in new context.
    For me, that is trying already done things in the context of cartoon ponies, which leads to fresh new creative ideas.</p>
<ul>
    <li><a href="https://github.com/McPalm">Github</a> - I have a nasty habit of keeping hidden projects.</li>
    <li><a href="https://mcpalm.itch.io/">Itch.io</a> - Where publish my games.</li>
</ul>
<h2>Skills</h2>
<ul>
    <li>C# and .NET</li>
    <li>.NET assembly optimization</li>
    <li>OOP</li>
    <li>Functional Progamming</li>
    <li>Event Component Systems</li>
    <li>Agile development</li>
    <li>Design, just design, like, design in general. Yup.</li>
    <li>I'm like, decent at chess.</li>
    <li>Cooking, like at a professional level.</li>
    <li>Ignoring the rules when doing Formal Writing and getting away with it.</li>
</ul>
