@model ASP_Assignment1.Models.Temperature;
@{
    ViewData["Title"] = "FeverCheck";
}

<form asp-controller="default" asp-action="fevercheck">
    <input type="number" asp-for="Value" />
    <button type="submit" value="5">Check</button>
</form>

@if (Model != null)
{
    <p>@Model.Celcius&#8451;</p>
    @if(Model.IsDead)
    {
        <p><strong>Youre actually dead, RIP.</strong></p>
    }
    else if (Model.HasFever)
    {
        <p><strong>You have a fever</strong>, oh no!</p>
        <img src="http://placekitten.com/650/420" />
        <p>Here is a kitten to cheer you up, get well soon.</p>
    }
    else if(Model.HasTheChill)
    {
        <p>Seem a bit cold there...</p>
    }
    else
    {
        <p>Youre fine</p>
    }
}

