
@{
    ViewBag.Title = "Index";
}
<p>I much rather write this in whats it a called again, visual studio code.
    Can you do razor page development in visual studio code?
    I kinda want the answer to be yes, because it has just way nicer tools for web develoment.
</p>
<img src="~/Assets/BitAssembly.png" />
