@model KeyValuePair<int, Person>
@{ }

<div class="row">
    <div class="column">
        @Model.Value.Name
    </div>
    <div class="column">
        @Model.Value.Age
    </div>
    <div class="column">
        @Model.Value.City
    </div>
    <a class="delete" asp-controller="People" asp-action="Delete" asp-route-key="@Model.Key">Delete</a>
</div>