@model PeopleList
@{
    ViewData["Title"] = "People";
}

<h1>People</h1>

<form asp-controller="People" asp-action="Index">
    <input type="Text" name="filter" />
    <button type="submit">Search</button>
</form>
<a class="page" asp-controller="People" asp-action="GetCreatePartial">Create a Person</a>

<a class="page" asp-controller="People" asp-action="GetPeoplePartial" asp-route-page="0">page 1</a>
<a class="page" asp-controller="People" asp-action="GetPeoplePartial" asp-route-page="1">page 2</a>
<a class="page" asp-controller="People" asp-action="GetPeoplePartial" asp-route-page="2">page 3</a>
<div id="page_content">
    <partial name="_PeopleList" for=@Model />
</div>


<script>
    $('.page').click(function (e) {
        e.preventDefault();
        let _this = $(this);
        $.get(_this.attr("href"), function (response) {
            $('#page_content').html(response);
        });
    });
    
</script>