@model List<Person>;
@{
    ViewData["Title"] = "People";
}

<h1>People</h1>

<form asp-controller="People" asp-action="Index">
    <input type="Text" name="filter" />
    <button type="submit">Search</button>
</form>
<a asp-controller="People" asp-action="create">Create a Person</a>

@foreach (var person in Model)
{
    <div>
        @await Html.PartialAsync("_PersonPreview", person)
    </div>
}
